* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: "Open Sans", Sans-serif;
	font-size: 16px;
}

.contenedor { /*el width,max-width y margin:auto lo debo tener en todas las páginas siempre*/
	width: 90%;
	max-width: 1000px;
	margin: auto; /*Para poder centrar todo en nuestro navegador*/
	overflow: hidden;
}

/* ------ ------ HEADER ------- -------*/
header {
	background: url('../img/orizaba3.jpg');
	/*background-repeat: no-repeat;
	background-position: center;*/
	width: 100%;
	max-height: 600px;
	background-size: 100% 100%;
	background-repeat: no-repeat; 
}

header .menu {
	margin: 40px 0;
	text-align: right;
}

header .menu a {
	margin: 0 20px;
	color: #fff;
	padding-bottom: 9px;
	display: inline-block;
	text-decoration: none;
	border-bottom: 2px solid transparent;/*Para que no haya un salto en el header*/
	font-size: 1em; /*Son 16px, valor tomado del body*/
}

header .menu a:hover {
	border-bottom: 2px solid #fff;
}

header .contenedor-texto {
	display: flex; /*Use flexbox para centrar este contenedor verticalmente de forma automatica*/
	justify-content: center;
	align-content: center;
	margin: 190px 0;
}

header .contenedor-texto .texto {
	border: 2px solid rgba(255,255,255,0.5);
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	padding: 20px 60px;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
	color: #fff;
	font-weight: 300;
	margin: 0;
}

header .contenedor-texto .texto .nombre {
	margin-bottom: 10px;
	font-size: 50px;
	line-height: 50px;
}

header .contenedor-texto .texto .profesion {
	font-size: 25px;
	line-height: 25px;	
}

/*----- ------ MAIN ------ -------*/

.main .contenedor { /*Mi foto ya no esta atras del header*/
	overflow: visible;
}

.main .acerca-de { /*Las fotos son propiedades de tipo linea*/ 
	text-align: center;
}

.main .acerca-de .foto {/*Hace que la foto se vaya hacia arriba 
	y quede detras del header, para solucionar eso, se debe 
	especificar en otra llave otro tipo de reaccion*/
	margin-top: -60px;
}

.main .acerca-de .foto img {
	vertical-align: top;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.2);
}

.main .acerca-de .texto {
	color: #5a5a5a;
	font-size: 600;
	font-size: 1em;
	line-height: 30px;
	width: 80%;
	margin: 40px auto 60px auto;
}

.main .acerca-de .texto .titulo {
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 40px;
	font-weight: 300;
	color: #dd820d;
	text-align: center;
}

.main .acerca-de .texto .bold {
	color: #3895ea;
	text-decoration: underline;
}