* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #fff;
	font-family: "Open Sans", Sans-serif;
	font-size: 16px;
}

.contenedor { /*el width,max-width y margin:auto lo debo tener en todas las páginas siempre*/
	width: 90%;
	max-width: 1000px;
	margin: auto; /*Para poder centrar todo en nuestro navegador*/
	overflow: hidden;
}

/* ------ ------ HEADER ------- -------*/
.ir-arriba{
	display: none;
	padding: 20px;
	background: #024959;
	font-size: 20px;
	color: #fff;
	cursor: pointer; /*The cursor appears as you approach*/
	position: fixed;
	right: 40px; /*with right & bottom, i position the button in the corner*/
	bottom: 20px;
}

header {
	background: url('../img/orizaba3.jpg');
	/*background-repeat: no-repeat;
	background-position: center;*/
	width: 100%;
	max-height: 600px;
	background-size: 100% 100%;
	background-repeat: no-repeat; 
}

header .menu {
	margin: 40px 0;
	text-align: right;
}

header .menu a {
	margin: 0 20px;
	color: #fff;
	padding-bottom: 9px;
	display: inline-block;
	text-decoration: none;
	border-bottom: 2px solid transparent;/*Para que no haya un salto en el header*/
	font-size: 1em; /*Son 16px, valor tomado del body*/
	position: relative;
}

header .menu a:hover {
	border-bottom: 2px solid #fff;
}

header .contenedor-texto {
	display: flex; /*Use flexbox para centrar este contenedor verticalmente de forma automatica*/
	justify-content: center;
	align-content: center;
	margin: 190px 0;
}

header .contenedor-texto .texto {
	border: 2px solid rgba(255,255,255,0.5);
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	padding: 20px 60px;
}

header .contenedor-texto .texto h1,
header .contenedor-texto .texto h2 {
	color: #fff;
	font-weight: 300;
	margin: 0;
}

header .contenedor-texto .texto .nombre {
	margin-bottom: 10px;
	font-size: 50px;
	line-height: 50px;
}

header .contenedor-texto .texto .profesion {
	font-size: 25px;
	line-height: 25px;	
}

/*----- ------ MAIN ------ -------*/

.main .contenedor { /*Mi foto ya no esta atras del header*/
	overflow: visible;
}

.main .acerca-de { /*Las fotos son propiedades de tipo linea*/ 
	text-align: center;
}

.main .acerca-de .foto {/*Hace que la foto se vaya hacia arriba 
	y quede detras del header, para solucionar eso, se debe 
	especificar en otra llave otro tipo de reaccion*/
	margin-top: -60px;
}

.main .acerca-de .foto img {
	vertical-align: top;
	border-radius: 50%;
	border: 5px solid rgba(255,255,255,0.2);
}

.main .acerca-de .texto {
	color: #5a5a5a;
	font-size: 600;
	font-size: 1em;
	line-height: 30px;
	width: 80%;
	margin: 40px auto 60px auto;
}

.main .acerca-de .texto .titulo {
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 40px;
	font-weight: 300;
	color: #dd820d;
	text-align: center;
}

.main .acerca-de .texto .bold {
	color: #3895ea;
	text-decoration: underline;
}

.main .trabajos {
	background: #f2f2f2;
	padding: 60px 0;
}

.main .trabajos .contenedor {
	overflow: hidden;
}

.main .trabajos .titulo {
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 40px;
	font-weight: 300;
	color: #323068;
	text-align: center;
}

.main .trabajos .contenedor-trabajos {/*El contenedor padre de nuestras imagenes*/
	display: flex; /*inicializamos flex*/
	flex-direction:row; /*Que sean filas*/
	flex-wrap:wrap;/*Para que las imagenes queno quepan en las filas
	se pongan abajo*/
	justify-content:space-between; /*Para que haya un espacio en medio
	y las imagenes se vaya a los lados de la página*/
}

.main .trabajos .contenedor-trabajos .trabajo {
	width: 23%;/*Para que podamos tener el espacio para 4 elementos*/
	margin-bottom: 40px;/*Separación hacia abajo entre cada imagen*/
}

.main .trabajos .contenedor-trabajos .trabajo .thumb {
	width: 100%;/*Para que abarque el espacio del contenedor hijo*/
	margin: 10px;
	
}

.main .trabajos .contenedor-trabajos .trabajo .thumb img{
	width: 100%;
	vertical-align: top;
	border-radius: 10px;

}

.main .trabajos .contenedor-trabajos .trabajo .descripcion {
	text-align: center; 
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .nombre {
	font-weight: 700;
	color: #3895ea;
	margin-bottom: 10px;
}

.main .trabajos .contenedor-trabajos .trabajo .descripcion .categoria {
	font-size: 14px;
	color: #636363;
}

footer .contacto {
	padding: 60px 0;
}

footer .contacto .titulo {
	font-size: 34px;
	line-height: 34px;
	margin-bottom: 40px;
	font-weight: 300;
	color: #3895ea;
	text-align: center;
}

footer .contacto .formulario {
	display: flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

footer .contacto .formulario input[type="text"],/*Accedemos al formulario tipo text*/
footer .contacto .formulario input[type="email"],/*Accedemos al formulario tipo email*/
footer .contacto .formulario textarea{
	border:2px solid #cecece;
	border-radius: 5px;
	padding: 15px 20px;
	font-size: 20px;
	color: #a4a4a4;
}

footer .contacto .formulario input[type="text"]:focus,/*Accedemos al formulario tipo text*/
footer .contacto .formulario input[type="email"]:focus,/*Accedemos al formulario tipo email*/
footer .contacto .formulario textarea:focus{
	border:2px solid #cecece; /*Se colorean los formularios*/
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"]{
	width: 49%;
	margin-bottom: 15px;
}

footer .contacto .formulario textarea{
	width: 100%;
	height: 100px;
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-width: 200px;
	margin-bottom: 15px;
}

footer .contacto .formulario .boton {
	margin: auto;
	background: #3895ea;
	color: #fff;
	border:none;
	border-radius: 3px;
	padding: 15px 40px;
	cursor: pointer;
}

footer .contacto .formulario .boton:hover {
	background: #387bea;
}

footer .redes-sociales {
	background: #1e2b38;
	padding: 60px 0;
}

footer .redes-sociales .contenedor {
	display: flex; /*inicializamos flexbox en la cada padre que es contenedor*/
	justify-content:center; /*centramos la caja*/
}

footer .redes-sociales a {
	color: #fff; /*iconos de color blanco*/
	text-align: center;
	width: 100px;
	display: block;
	padding: 15px 0;
	border-radius: 3px;
	font-size: 30px;/*Tamaño de los íconos*/
	background: #ccc;
	margin: 0 20px;/*margen entre cada ícono*/
}

footer .redes-sociales .twitter:hover{background: #1da1f2;}
footer .redes-sociales .github:hover{background: #6e5494;}
footer .redes-sociales .linkedin:hover{background: #0077B5;}



/* ------ ------- Media Queries ------- -------*/

@media screen and (max-width: 800px){
	header .menu {
		text-align: center;
	}

	.main .trabajos .contenedor-trabajos .trabajo {
		width: 46%;
	}
}

@media screen and (max-width: 500px){
	header .contenedor-texto .texto .nombre {
		font-size: 35px;
	}

	header .contenedor-texto .texto .profesion {
		font-size: 18px;
	} 

	footer .redes-sociales .contenedor {
		
	}
	.ir-arriba{
	display: none;
	padding: 10px;
	background: #024959;
	font-size: 10px;
	color: #fff;
	cursor: pointer; /*The cursor appears as you approach*/
	position: fixed;
	right: 40px; /*with right & bottom, i position the button in the corner*/
	bottom: 20px;
	}	
}

/*			+++ Otras clases ++++			*/

.centrar{
	text-align: center;
}